* {
    box-sizing: border-box;/*tamaño total de la caja incluya:el contenido, el padding y los bordes */
    font-family: "Roboto", sans-serif;/*tipografia*/
    margin: 0;
}

header {
    position: fixed;
    background-color: #e76a05;
    width: 100%;
}

header a {
    color: white;
    text-decoration: none;
    padding: 0 1.8rem;
}

h1 {
    display: inline;
}

header li{
    display: inline;
    list-style: none;
}

nav {
    float: right;
    margin: 5px;
}